/*
 * This file is part of Deliantra clientV.
 *
 * Copyright (©) 2017 Marek Olszewski <m.olszewski@wit.edu.pl>
 * Copyright (©) 2017 Marc A. Lehmann <schmorp@schmorp.de>
 *
 * Deliantra clientV is free software: you can redistribute it and/or
 * modify it under the terms of the Affero GNU General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the Affero GNU General Public Licens
 * and the GNU General Public License along with this program. If not, see
 * <http://www.gnu.org/licenses/>.
 *
 * The authors can be reached via e-mail to <support@deliantra.net>
 */

body, html {
    /*background-image: url(img/background.png);*/
}

body, html {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    height: 100%;
    overflow: hidden;
}

body, html, * {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}


div.windowContainer {
    position: absolute;
    border: 1px solid white;
    cursor: pointer;
    overflow: hidden;
    background-color: black;

}

div.windowContainer div.titlebar {
    width: 100%;
    color: gold;
    font: 17px monospace;
    text-align: center;
    border-bottom: 1px solid white;
    background-color: goldenrod;
    text-align: center;
    cursor:move;
    padding:0;
}

div.windowContainer div.borders {
    padding: 5px;
    background-color: white;
    
}

div.windowContainer div.windowContent {
    background-color:black;
    width: 100%;
    height: 100%;
}


div.windowContainer div.windowContent input.closeBtn, div.windowContainer div.titlebar input.closeBtn {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 2px;
    top: 2px;
    padding:0;
}

table.statistics {
    width: 100%;
    border-top: 3px solid white;
}

div#channels {
}

div#channels div:last-child {
    overflow: auto;
}

div#hidden {
    position:absolute;
    left: -10000px;
    top: -10000px;
}

div#channels table {
    border: 0;
    width: 100%;
    color: white;
    font: 14px monospace;
    font-weight: bold;
}
.inputbox, div#channels input [type='text'] {
    margin-top: 5px;
    background: solid red;
    background-color: white;
    color: black;
    border: 1px solid red;
    width: 90%;
}

div#channels div input  {
    margin: 5px;
    display: inline block;
}

div#channels table tr td:nth-child(1) {
    font-size: small;
    width: 80px;
    color: red;
    vertical-align: top;
}

div#channels table tr td{
    vertical-align: top;
    text-align: left;
}

table.login {
    width: 100%;
}

div#loginContainer table {
    margin-bottom: 20px;
}

div#loginContainer table tr:last td {
    width:100%;
    text-align: center;
}

div#loginContainer input[type="text"],div#loginContainer input[type="password"] {
    border: 1px solid gold;
    background-color: grey;
    width: 150px;
}
div#loginContainer {
    text-align: center;
}

div#loginContainer h3, div#loginContainer h1 {
    width: 100%;
    text-align: center;
    color: gold;
}

table.pickup {
    margin: 25px;
    border-collapse: collapse;
}

table.pickup tr td:nth-child(1) {
    padding: 5px;
    width: 45%;
}
table.pickup tr td:nth-child(3) {
    padding: 5px;
    width: 45%;
}

/* look and feel of bars */


.hpBar {
    left: 10px;
    top: 170px;
    background-color: orange;
    color: red;
    width: 125px;
    height: 20px;
}

.manaBar {
    left: 50px;
    top: 170px;
    background-color: lightblue;
    color: blueviolet;
    width: 125px;
    height: 20px;
}

.foodBar {
    left: 90px;
    top: 170px;
    background-color: lightgreen;
    color: greenyellow;
    width: 125px;
    height: 20px;
}
/* windows */


.mapWindow {
    left: 0px;
    top: 40px;
    width: 800px;
    height: 800px;
}

.barsWindow {
    left: 580px;
    top: 543px;
    width: 125px;
    height: 200px;
}

.messagesWindow {
    right: 50px;
    top: 40px;
    width: 600px;
    height: 220px;
}



.floorWindow {
    left: 318px;
    top: 650px;
    width: 0;
    height: 0;
}

.containerWindow {
    left: 750px;
    top: 402px;
    width: 0;
    height: 0;
}

.skillsWindow {
    left: 754px;
    top: 40px;
    width:0;
    height:0;
}

.spellsWindow {
    left: 90px;
    top: 90px;
    width:0;
    height:0;
}

/* fancy bubble */

div.bubble {
    border-radius: 25px;
    height: 30px;
    width: auto;
    position: absolute;
    border: 4px solid blue;
    background: solid;
    background-color: white;
    color: black;
    font-size: small;
    padding: 5px;
    padding-top: 19px;
}

div.paneRight, div.paneLeft {
    width: 50%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: blue;
    padding: 0;
    margin: 0;
    border:0;
    border: 0;
}

div.paneLeft {    
    float:left;    
}

div.paneRight {
    float:right;    
}

div.clearer {
    clear:both;
    height: 0px;
}

/* fancy bubble */

div.tooltip {
    height: auto;
    width: auto;
    position: absolute;
    border: 1px solid black;
    background: solid;
    background-color: white;
    color: black;
    font-size: small;
    padding:2px;
    max-width: 300px;
}

div.tooltip div:first-child {
    padding: 2px;
    margin: 2px;
}

div.bubble strong {
    font-size: large;
    padding: 5px;
    background-color: blue;
    border-radius: 15px;
}

/* CONTEXT MENU */

div.contextMenuItem {
    height: 20px;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    font: small;
    background-color: grey;
    color: black;
    text-align: center;
}

div.contextMenuItem:hover {
    background-color: gold;
    color: red;
    text-decoration: underline;
}

