body
{
  font-family: Verdana;
  font-size: 12pt;
  text-align: center;  /* For pesky IE */
  background-color: #2D1714;
  margin: 0px;
  padding: 0px;
}

/* Basic text styling CSS */

a, a:visited
{
  color: #ab2c05;
}

a:hover
{
  color: #d54113;
}

h2
{
  color: #ab2c05;
  font-size: 20px;
}

/* Container <div> CSS */

#mainWrapper
{
  min-width: 800px;
  max-width: 70em;
  padding: 0px;
  margin: 0px;
  margin: 0 auto;
  text-align: left;
  background-color: #FAF6D9;
  border-left: 10px solid #33201D;
  border-right: 10px solid #33201D;
}

#header
{
  min-height: 130px;
  background: url(woodTex.gif) repeat scroll 0 0 #972F0C;
}

#headerText
{
  color: #FAF6D9;
  font-size: 60px;
  padding-top: 25px;
  padding-left: 30px;
}

#linkbar
{
  padding-left: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  background: url(gradient.gif) repeat scroll 0 0 #972F0C;
  /*border-bottom: 1px solid #a45d47;*/
}

#footer
{
  clear: both;
  font-size: 17px;
  color: #FAF6D9;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 30px;
  background: url(gradient.gif) repeat scroll 0 0 #972F0C;
  border-top: 1px solid #a45d47;
}

#linkbar a
{
  color: #FAF6D9;
  font-size: 17px;
  padding-right: 7px;
}

#linkbar a:hover
{
  color: white;
  font-size: 17px;
  padding-right: 7px;
}

/* Misc text layout formatting CSS */

.sidebox
{
  min-height: 140px;
  width: 200px;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  float: right;
  background-color: #F2E3C9;
  border: 1px solid gray;
  font-size: 10pt;
}

#content
{
  float: left;
  padding: 30px;
  padding-top: 15px;
}

#trailer
{
  float: left;
  padding: 30px;
  padding-top: 15px;
}

#banners
{
  float: right;
  padding: 30px;
  padding-top: 15px;
}

#recent_news
{
  float: left;
  padding: 30px;
  padding-top: 15px;
}

/* Table Formatting */

table
{
  margin-top: 20px;
  border: none;
  background-color: #D6C19C;
  border-spacing: 1px;
}

th
{
  text-align: left;
  background: url(gradient.gif) repeat scroll 0 0 #972F0C;
  color: white;
  padding: 5px;
}

td
{
  background-color: #F2E3C9;
  padding: 5px;
}

/* Control Styling */

#imageBox
{
  position: relative;
  height: 292px;
  width: 800px;
  margin: 0 auto;
  overflow: hidden;
  background-color: black;  /* Minimize any gapping flicker if the animation sync is off. */
}

#featuredImage1
{
  position: absolute;
}

#featuredImage2
{
  position: absolute;
  left: 800px;  /* The second image starts its life hidden outside the image box. */
}

#directionArrows
{
  position: absolute;
  width: 800px;
  top: 115px;
}

#leftArrow
{
  float: left;
  margin-left: 20px;
  cursor: pointer;
}

#rightArrow
{
  float: right;
  margin-right: 20px;
  cursor: pointer;
}

.button
{
  padding: 5px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background: #ab2c05;
	border: 1px solid #a45d47;
	color: #FAF6D9;
	font-size: 17px;
}

.button:hover
{
  padding: 5px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background: #ab2c05;
	border: 1px solid #a45d47;
	color: #FAF6D9;
	font-size: 17px;
}

.button:visited
{
  padding: 5px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background: #ab2c05;
	border: 1px solid #a45d47;
	color: #FAF6D9;
	font-size: 17px;
}

.noMargin
{
  padding: 5px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background: #ab2c05;
	border: 1px solid #a45d47;
	color: #FAF6D9;
	font-size: 17px;
}

.noMargin:hover
{
  padding: 5px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background: #ab2c05;
	border: 1px solid #a45d47;
	color: #FAF6D9;
	font-size: 17px;
}

pre
{
	overflow: auto;
	max-width: 60em;
}

.date
{
	font-size: 12pt;
}

.news_item
{
	font-size: 11pt;
	padding-left: 1em;
}
