Building the Client

<h2>Build instructions for GNU/Linux</h2>

<p>
Here are some instructions for the people that can't or don't want to use
the provided GNU/Linux binary at the <a href="client.html">client page</a>.
</p>

<!--
<h3>Debian GNU/Linux packages</h3>

<p>
For Debian/AMD64 and Debian/i386, there are prebuilt packages. You will need to install
the packages <i>in order of appearance</i>. If you then get dependency warnings, install
the missing packages with apt. Basically, the following should be done:
</p>

<div class="tutorial">
<h4>For AMD64 users:</h4>
<pre>
root@localhost: ~# apt-get install libberkeleydb-perl libyaml-syck-perl libevent-perl libsdl-image1.2 libsdl-mixer1.2
root@localhost: ~# dpkg -i <a href="pkgs/libevent-perl_1.08-1_amd64.deb">libevent-perl_1.08-1_amd64.deb</a>
root@localhost: ~# dpkg -i <a href="pkgs/libcompress-lzf-perl_1.71-1_amd64.deb">libcompress-lzf-perl_1.71-1_amd64.deb</a>
root@localhost: ~# dpkg -i <a href="pkgs/libanyevent-perl_2.51-1_all.deb">libanyevent-perl_2.51-1_all.deb</a>
root@localhost: ~# dpkg -i <a href="pkgs/libpod-pom-perl_0.17-1_all.deb">libpod-pom-perl_0.17-1_all.deb</a>
root@localhost: ~# dpkg -i <a href="pkgs/libcrossfire-perl_0.96-1_all.deb">libcrossfire-perl_0.96-1_all.deb</a>
root@localhost: ~# dpkg -i <a href="pkgs/libcfplus-perl_0.97-1_amd64.deb">libcfplus-perl_0.97-1_amd64.deb</a>
</pre>

<h4>For i386 users:</h4>
<pre>
root@localhost: ~# apt-get install libberkeleydb-perl libyaml-syck-perl libevent-perl libsdl-image1.2 libsdl-mixer1.2
root@localhost: ~# dpkg -i <a href="pkgs/libevent-perl_1.08-1_i386.deb">libevent-perl_1.08-1_i386.deb</a>
root@localhost: ~# dpkg -i <a href="pkgs/libcompress-lzf-perl_1.71-1_i386.deb">libcompress-lzf-perl_1.71-1_i386.deb</a>
root@localhost: ~# dpkg -i <a href="pkgs/libanyevent-perl_2.51-1_all.deb">libanyevent-perl_2.51-1_all.deb</a>
root@localhost: ~# dpkg -i <a href="pkgs/libpod-pom-perl_0.17-1_all.deb">libpod-pom-perl_0.17-1_all.deb</a>
root@localhost: ~# dpkg -i <a href="pkgs/libcrossfire-perl_0.96-1_all.deb">libcrossfire-perl_0.96-1_all.deb</a>
root@localhost: ~# dpkg -i <a href="pkgs/libcfplus-perl_0.97-1_i386.deb">libcfplus-perl_0.97-1_i386.deb</a>
</pre>
</div>
-->

<h3>CPAN Installation on Debian GNU/Linux (also with notes for ubuntu)</h3>

<div class="tutorial">

<p>
I am assuming here that you install Deliantra as <b>root</b> user. (If you don't know what
that means you should find out what it means.)
</p>

<p>
A major <b>requirement</b> to run Deliantra is <b>OpenGL</b>. And it's <i>highly recommended</i> to have <b>accelerated</b>
OpenGL. I'm sorry that it is beyond the scope of this tutorial to instruct you how to install and set up proper OpenGL acceleration.
</p>
<p>
<i>Some minor hint:</i> manufacturers like ATI and NVIDIA are providing Linux drivers. They have mostly
automatic installers. GNU/Linux distributions like Ubuntu also include such drivers sometimes. On top of that there might
be free driver implementations in Xorg.
<i>Some minor mostly uninteresting note:</i> Deliantra has been tested with recent ATI and NVIDIA graphics cards.
</p>

<p>
First we are going to install the required library dependencies, which are
(you can substitute libdb4.5-dev by libdb4.4-dev, libdb4.6-dev, or newer if you want):
</p>

<pre>
root@localhost: ~# apt-get install perl libpango1.0-dev libglib2.0-dev libsdl1.2-dev libsdl-mixer1.2-dev libsdl-image1.2-dev libdb4.5-dev
</pre>

<p><b>Note: ubuntu users should try following apt-get line instead and continue with the debian part:</b></p>
<pre>
   # apt-get install perl libpango1.0-dev libglib2.0-dev libsdl1.2-dev libsdl-mixer1.2-dev libsdl-image1.2-dev libdb4.5-dev anyevent-perl
</pre>

<p>
   <b>Note:</b> If you are not on Debian please be sure to satisfy following requirements:
   <ul>
      <li>libpango1.0-0 and libpango1.0-dev (generally pango-1.12.3 and above with a freetype2 or cairo backend)</li>
      <li>libglib2.0-0 and libglib2.0-dev (generally glib-2.10 and above)</li>
      <li>libsdl1.2-dev (generally something around libsdl-1.2.10)</li>
      <li>libsdl-mixer1.2-dev</li>
      <li>libsdl-image1.2-dev</li>
      <li>libdb&lt;version&gt;-dev (generally versions 4.4 and up work, 4.5 and up is recommended)</li>
   </ul>
</p>

<p>
Please make sure that this step was successful, as all of these libraries are mandatory to build and install Deliantra.
</p>

<p>
The next step is to start 'cpan'. This is the command line tool from Perl which automates installation
of Perl modules and software. In this case it will automatically install Deliantra and all the Perl modules it
requires.
</p>

<pre>
root@localhost: ~# cpan
</pre>

<p>
<b>Note:</b> If this is the first time you start <i>cpan</i> you will be asked to configure it.
Next box will show what you will see if this is the case. If you don't see this and just see a 'cpan&gt;' prompt,
just skip the next box.
</p>

<pre>
root@localhost: ~# cpan
CPAN: File::HomeDir loaded ok

/usr/local/share/perl/5.8.8/CPAN/Config.pm initialized.


CPAN is the world-wide archive of Perl resources. It consists of about
100 sites that all replicate the same contents all around the globe.
Many countries have at least one CPAN site already. The resources
found on CPAN are easily accessible with the CPAN.pm module. If you
want to use CPAN.pm, you have to configure it properly.

If you do not want to enter a dialog now, you can answer 'no' to this
question and I'll try to autoconfigure. (Note: you can revisit this
dialog anytime later by typing 'o conf init' at the cpan prompt.)

Are you ready for manual configuration? [yes] 
</pre>

<p>
Read all the instructions and answer the questions asked by cpan.
Most of the time you can just press <b>enter</b>, as the default is suitable
most of the time.
</p>

<p>
After you configured cpan, you should see a prompt like this:
</p>

<pre>
root@localhost: ~# cpan
CPAN: File::HomeDir loaded ok

[skipped the configuration output from above]

cpan shell -- CPAN exploration and modules installation (v1.87)

cpan&gt;
</pre>

<p>
Now enter 'install DC::DB':
</p>

<pre>
cpan&gt; install DC::DB
</pre>

<p>
Now cpan is going to download the deliantra client (in the
Deliantra::Client distribution). The download might take a while as the
package has an approximate size of 15MB. After it has downloaded and
unpacked the client you might be asked stuff like this:
</p>

<pre>
Writing Makefile for Deliantra::Client
CPAN: YAML loaded ok
---- Unsatisfied dependencies detected during [M/ML/MLEHMANN/Deliantra-Client-0.1.tar.gz] -----
    Deliantra
Shall I follow them and prepend them to the queue
of modules we are processing right now? [yes]         
</pre>

<p>
Just press enter on all questions that are similar to this, as cpan is asking you if you
want to install the required modules for Deliantra-Client, and you want to have a working installation
of the deliantra client, don't you? :-)
</p>

<p>
After everything is installed and you are back to the cpan prompt, enter 'quit'
and start deliantra:
</p>

<pre>
cpan&gt; quit
Lockfile removed.
root@localhost: ~# deliantra
</pre>

<p>
deliantra should start now and <b>for further instructions and informations look at the <i>Help!</i> button on the top</b>.
</p>

</div>

<h3>Manual (CVS) Installation on Debian GNU/Linux (also with notes for ubuntu)</h3>

<p>
Even though there are binaries available for GNU/Linux you can try to compile the client
yourself:
</p>

<p> <b>Requirements:</b> </p>

<ul>
      <li>At least OpenGL 1.1 (required), better would be OpenGL 1.2 (recommended) and best is OpenGL 2.0 (even more recommended)</li>
      <li>Accelerated OpenGL is <b>strongly recommended</b>, but it should also run without.
          (Actually, the client runs with good performance even on TNT2 cards, but software rendering is rather sluggish).
      </li>
      <li>libpango1.0-0 and libpango1.0-dev (generally pango-1.12.3 and above with a freetype2 or cairo backend)</li>
      <li>libglib2.0-0 and libglib2.0-dev (generally glib-2.10 and above)</li>
      <li>libsdl1.2-dev (generally something around libsdl-1.2.10)</li>
      <li>libsdl-mixer1.2-dev</li>
      <li>libsdl-image1.2-dev</li>
      <li>libberkeleydb-perl</li>
      <li></li>
      <li>Perl modules:
         <ul>
            <li>Pod::POM</li>
            <li>Compress::LZF</li>
            <li>BDB (must be linked against version 4.3 or higher of libdb)</li>
            <li>Event</li>
            <li>AnyEvent (in ubuntu avaible as anyevent-perl package)</li>
            <li>JSON::XS</li>
            <li>Time::HiRes</li>
            <li>LWP</li>
            <li><a href="http://software.schmorp.de/pkg/deliantra/Deliantra.html">Deliantra</a></li>
         </ul>
      </li>
</ul>

<p>
I assume you installed all required modules and libraries from above.
</p>

<p>
We checkout <a href="http://software.schmorp.de/pkg/deliantra/Deliantra-Client.html">Deliantra CVS (the client code)</a>,
build it, install it and start it.
</p>

<p> <b>Note: ubuntu users should try following apt-get line instead and continue with the debian part:</b> </p>
<div class="tutorial">
<pre>
   # apt-get install perl libpango1.0-dev libglib2.0-dev libsdl1.2-dev libsdl-mixer1.2-dev libsdl-image1.2-dev libberkeleydb-perl anyevent-perl
</pre>
</div>

<p> <b>For Debian use this:</b> </p>

<div class="tutorial">
<pre>
   # apt-get install perl libpango1.0-dev libglib2.0-dev libsdl1.2-dev libsdl-mixer1.2-dev libsdl-image1.2-dev libberkeleydb-perl
   # cvs -z3 -d :pserver:anonymous@cvs.schmorp.de/schmorpforge co -d Deliantra deliantra/Deliantra
   # cd Deliantra
   Deliantra/# perl Makefile.PL &amp;&amp; make &amp;&amp; make install
   Deliantra/# cd ..
   # cvs -z3 -d :pserver:anonymous@cvs.schmorp.de/schmorpforge co -d Deliantra-Client deliantra/Deliantra-Client
   # cd Deliantra-Client
   Deliantra-Client/# perl Makefile.PL &amp;&amp; make &amp;&amp; make install
   Deliantra-Client/# cd ..
   # deliantra
</pre>
</div>

<p>
If any errors occur during 'perl Makefile.PL' or make please make sure you are meeting all the requirements
from above. If everything fails, try to <a href="contact.html">contact</a> the developers.
<b>PLEASE</b> don't contact us if the beta version isn't yet released! Thanks.
</p>

<p></p>
