Experience Table

<h2>Experience vs. Level</h2>

<h3>Comparison between the crossfire, schmorp and deliantra experience tables</h3>

<p>Executive summary: If the game were ideally balanced and all levels
equally hard, the graph should be a line. As it is, the experience table
reflects the extensive balancing changes compared to the older Crossfire
game, leading to a smoother experience table.</p>

<p>Keep also in mind that the death penalty is much much lower in
Deliantra than in Crossfire, so while the experience table looks harder,
it is actually easier.</p>

<p><img src="images/exp_table.png" alt="graphical plot of original crossfire, schmorp and deliantra experience tables" /></p>

<h3>Experience vs. Level Table</h3>
<p><!--#include file="exp_table.html"--></p>

<p></p>
