Maps

<h2>Maps and Archetype Data</h2>

<p>The deliantra maps and archetypes are based on those of the original
Crossfire game. The worldmap has been completely redone to provide a
nicer, more accessible world, and of course many of the myriad bugs in
them have been cleaned up and fixed. Also some modenr features like
dialog-based NPC interaction and other kind sof interactivity have been
added. Noteworthy additions to the original maps are:</p>

<ul>
   <li>The <a href="http://maps.deliantra.net/elmex/">heaven quests, scorn bank quest, mana fountain quests</a>.</li>
   <li>The <a href="http://maps.deliantra.net/quests/pippijn/">invitor quests</a> that give you access to the <kbd>invite</kbd> command.</li>
   <li>The <a href="http://maps.deliantra.net/aldwulf/">aldwulf</a> maps, which are very lively and also contain the level 2 invitor quest.</li>
   <li>The <a href="http://maps.deliantra.net/schmorp/nimbus.xhtml">nimbus</a>, an area where you end up when you die.</li>
   <li>The <a href="http://maps.deliantra.net/mlab/">mlab</a> maps, which are vast and impressive.</li>
   <li>The <a href="http://maps.deliantra.net/onefang/">ice castle</a> maps, which are funny and unfinished.</li>
</ul>

<p>You can browse all maps and archetypes on <a href="http://maps.deliantra.net/">maps.deliantra.net</a>.</p>

<h3>Various improved maps:</h3>

<ul>
   <li>
      The <a href="http://maps.deliantra.net/scorn/shops/">bank in scorn</a> got a major upgrade and got
      connected to the new bank perl script. This was neccessary to integrate the new currency, the 'royalty'.
   </li>
</ul>

<p></p>
