Resources

<h2>Resources</h2>

<p>
Here are some random assorted resources for some things...
</p>

<h3>Assorted stuff</h3>

<ul>
    <li>
       Since the public maps of the <a href="http://www.daimonin.net">daimonin mmorpg</a> disappeared
       from the public CVS we provide a copy here: <a href="http://dist.schmorp.de/daimonin/daimonin-maps-2006-05-12.tar.gz">daimonin maps 2006-05-12</a>
   </li>
</ul>

<h3>Links to Deliantra-related pages</h3>

<ul>
    <li><a href="http://crossfire.real-time.com/">The main Crossfire page</a>. Deliantra is based on Crossfire.</li>
</ul>

<ul>
    <li><a href="http://mids.student.utwente.nl/~avogl/map_guide/">An old map guide</a></li>
</ul>


<p></p>
