Game Server

<p>
<img src="images/logo.png" style="float: right" alt="Gravestone, Dread and Hero" />
</p>

<h2>About the Game Server on www.deliantra.net</h2>

<p>This <a href="http://software.schmorp.de/pkg/deliantra.html">Deliantra</a> server is
located in Amsterdam and has a fast connection :)</p>

<p>Its main purpose, besides being fun to play, is to demo the
specific versions of the server, archetypes and maps used by
Deliantra. All files can be freely downloaded via CVS on the <a
href="http://software.schmorp.de/pkg/deliantra.html">the Deliantra project
page</a>.</p>

<p>It is especially suited for beginners who do not want to experience a
very sharp and frustrating learning curve and party players who want to
play together more easily.</p>

<ul>

<li>Death is not permanent.</li>

<li>Death causes no stats depletion and little experience points loss. When you survive the
test of gods you get away with no experience loss, even.</li>

<li>Friendly fire causes no damage.</li>

<li>Pet monsters and summoned creatures will not stand in the way of other
party members, making it bearable to play with summoning skills in a
party.</li>

<li>The maps can be viewed interactively at <a
href="http://maps.deliantra.net/">maps.deliantra.net</a>.</li>

<li>Player-killing is allowed, but only when <em>both</em> players are hostile. To change
your hostile setting, you have to visit the church of valriel or the church of gorokh.</li>

<li>Map and graphics artists are working on improved graphics and new maps and quests.</li>

<li>The server is monitored 24 hours/day and will automatically be restarted in case of any problems.</li>

<li>You can reach the admins via IRC: server <tt>irc.schmorp.de</tt> (alternatively <tt>irc.plan9.de</tt>), channel <tt>#schmorp</tt>, user(s) <tt>schmorp</tt>
<tt>elmex</tt>.</li>
<li>You can reach the admins via E-Mail: <tt>support@deliantra.net</tt>.</li>

<li>We are sometimes running the release, sometimes a CVS
snapshot. If you encounter problems, feel free to report it.</li>

<li>Player files and other variable data is backed up every 15 minutes to a remote location,
backup history for 3 months is available.</li>

</ul>

<h2>Game Server (special) features</h2>

<ul>
   <li>
   <b>Death is not permanent</b>, and you can <b>get back all lost stats and
      experience by playing a game</b> in a special place named <i>Nimbus</i>.
   You are teleported there when you die and you have to play a game (currently minesweeper) to
   get out.
   </li>
   <li>
   <b>Friendly fire is disabled</b> and playerkilling is also modified. You can only kill another player
   when you and the other player are hostile. To become hostile, you have to visit the church of Gorokh
   in Scorn and talk to the priest. To become peaceful again, visit the curch of Valriel and talk to its priest.
   </li>
   <li>
   <b>Invitation</b> of other players to where you are is possible with the <i>invite</i> command.
   You have to solve the <i>invitor quest</i> (see below in maps) to be able to use the command.
   </li>
   <li>
   You can <b>follow</b> other players with the <i>follow</i> command when you stand next
   to the player you want to follow.
   </li>
   <li>
   <b>Pet monsters and summoned creatures will not stand in the way</b> of other
   party members, making it bearable to play with summoning skills in a
   party.
   </li>
   <li>
   Map and graphics artists are working on <b>improved graphics</b> and <b>new maps and quests</b>.
   </li>
   <li>
   <b>Trade shops</b> have been implemented which allows the player to trade items even when they are offline.
   </li>
</ul>

<h2>How to Get Started</h2>

<p>
The simplest way to get started is to download the client from
the <a href="play.html">Play Now</a> page. Next step would be starting
it, reading the <b>Client Tutorial</b>, which can be found via the 'Help!' button,
choosing a username and password, create a character by following the
instructions in the message window and dialogs, solve the tutorial map
and then explore the world starting in one of the main cities: Scorn.
</p>

<h2>Maps</h2>

<p>You can browse all maps and archetypes on <a href="http://maps.deliantra.net/">maps.deliantra.net</a>.</p>

<h2>Bugs? Problems? Suggestions?</h2>

<p>
See <a href="contact.html"><b>Contact</b></a> about how to contact us.
</p>

<p></p>

