Test Server

<h2>testserver.deliantra.net</h2>

<p>This is a public Deliantra test server. Here, anybody can connect and upload and test their
maps, with dm-like capabilities for testing.</p>

<p>Notes:</p>

<ul>
   <li>You need a deliantra client and an account on our regular server, see <a href="server.html">Game Server</a>. You can also create an
   account normally, but it will be deleted regularly.</li>

   <li>The accounts, maps and other items are copied from the regular <tt>gameserver.deliantra.net</tt> server every three
   hours. This means that whatever you upload, acquire or lose, will be nuked at those regular intervals (00:00, 03:00, 06:00 etc. CET).
   Likewise, accounts created on <tt>gameserver.deliantra.net</tt> will only become active after that period.</li>

   <li>The server is designed to crash, and will restart within seconds after a crash.</li>

   <li>The following dm-commands are available to every user:
   <tt>goto</tt>, <tt>reset</tt>, <tt>wizpass</tt>, <tt>wizcast</tt>,
   <tt>wizlook</tt> and <tt>teleport</tt>. Use the <tt>help</tt> command
   to learn about them.</li>

   <li>
      There is a special map, that people who want to test something
      might be interested in: <tt>goto *idkfa</tt>.
   </li>

   <li>Maps can be uploaded via the form at <a href="http://www.deliantra.net/upload">http://www.deliantra.net/upload</a>.
   Built-in support for the <a href="client.html">Deliantra Client</a> and <a href="editor.html">the Editor</a> are in the works.</li>

   <li>The maps you upload must be Deliantra maps (obviously).</li>

   <li>Otherwise, the same rules as on <tt>gameserver.deliantra.net</tt>
   apply. Be courteous and do not impede other people that want to
   test. Be especially careful when replacing one of the existing maps,
   e.g. the scorn worldmaps. This is possible and supported, but can make
   it hard for other players to play if you botch it.</li>

</ul>

<p></p>
