The World

<h2>The new world</h2>

<p>
Currently there is only this <a href="img/world.jpg">worldmap</a>, which
is in heavy development. The destinated map will have more details in it and
the roads will be redone. There also will be more ships to the islands. At least
the map won't be so hard to travel along than the old one.
</p>

<p></p>
