body {
   font: Verdana, Tahoma, Arial, sans-serif;
   padding: 0;
   margin: 0;
   background: url("/images/bg.jpg");
   background-color: #8e6b29;
   color: #f0f0ff;
}

h1, h2, h3, h4 {
   border: 2px solid black;
   color: #fcf156;
   background: #404;
   text-align: center;
}

h1 { margin-left:  5px; margin-right:  5px; }
h2 { margin-left: 10px; margin-right: 10px; }
h3 { margin-left: 20px; margin-right: 20px; }
h4 { margin-left: 30px; margin-right: 30px; }

table {
   width: 100%;
   padding: -2px;
   margin: -2px;
}

tr, td, th {
}

table.mainlayout {
   border-spacing: 0px;
}

th.topbar {
   height: 2em;
   border-bottom: 3px solid black;
   color: white;
   background-image: url("/images/outline.png");
}

td.sidebar {
   width: 30px;
   background-image: url("/images/outline.png");
   padding: 0;
   margin: 0;
}

.sidebar img {
   margin-bottom: 1em;
}

td.left {
   border-right: 3px solid black;
}

td.right {
   border-left: 3px solid black;
}

.topalign {
   vertical-align: top;
}

td.menucontainer {
   width: 15em;
}

.menucontainer table {
   margin: 1em;
   background-image: url("/images/background.png");
   background-color: #2d1714;
   font-size: 90%;
}

.menucontainer a {
   color: white;
}

.menucontainer a:visited {
   color: #999;
}

.menucontainer a:hover {
   color: black;
}

.menucontainer td:hover {
   background: #ccc;
}

table.window {
   border-spacing: 0px;
}

.window {
   height: 100%;
   padding-top: 0.5em;
}

.window p {
   color: white;
   margin: 1em;
}

td.border-vert {
   width: 14px;
   background-image: url("/images/border_y.png");
}

th.border-horiz {
   color: white;
   height: 16px;
   font-size: 70%;
   text-align: center;
   background-image: url("/images/border_x.png");
}

tr.content {
   background-image: url("/images/background.png");
   background-color: #2d1714;
   margin: 0;
   padding: 0;
   vertical-align: top;
}

td.content {
   padding-top: 1em;
}

.content > p, .content > table, .content > div, .content > ul, .content > img {
   margin-left: 30px;
   margin-right: 30px;
}

.box {
   margin: 1em;
   padding: 1ex;
   border: 1ex solid #800;
   background: #ff0;
   font-size: large;
   color: black;
}

.box a {
   background: #ddd;
   padding: 0.3ex;
   border: 0.3ex solid #800;
}

.box a:hover {
   background: #fff;
   padding: 0.3ex;
   border: 0.3ex solid #f00;
}

#playlink {
   font-size: x-large;
   text-align: center;
}

#playlink a {
   color: #000;
}

#playlink a:hover {
   color: #00f;
}

th#screenshot_note {
   border: 2px solid black;
   color: #fcf156;
   background: #404;
   text-align: center;
}

a {
   color: #0ff;
}

a:visited {
   color: #4cc;
}

a:hover {
   color: #0f0;
}

.date {
   color: yellow;
   font-style: italic;
}

.date a {
   color: red;
}

table.topsites {
   background: none;
   text-align: center;
}

.topsites td:hover {
   background: none;
}

tr.curitem {
   background: black;
}

.curitem td:hover {
   background: none;
}

pre.cmdline {
   padding:    0.3em;
   margin-left: 0.5em;
   color:      white;
   background: black;
}
